<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <%= stylesheet_link_tag "normalize", "all" %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  </head>

  <body class="<%= page_classes %>">
    <header class="main-header animated fadeInDown">
      <div class="container main-header__container">
        <div class="main-header__brand">
          <%= image_tag "logo-white.svg", class: "main-header__brand-white" %>
          <%= image_tag "logo-dark.svg", class: "main-header__brand-dark" %>
          <span class="main-header__brand-tagline">| Mejores Prestamos</span>
        </div>
        <nav class="main-header__nav">
          <a href="#">Contacto</a>
          <a class="main-header__login" href="#">Iniciar Sesión <i class="fas fa-arrow-right"></i></a>
          <div class="tooltip">
            <span>Para obtener tu tasa preferencial inicia sesión</span>
            <a href="javascript:;" class="close"><i class="fas fa-times"></i></a>
          </div>
        </nav>
      </div>
    </header>
    <%= yield %>
    <footer class="main-footer">
      <div class="container row">
        <div class="col-md-6 col-xs-12">
          <%= image_tag "logo-dark.svg", class: "main-footer__brand" %>
          <span class="main-footer__copyright">Apurata 2018 © Todos los Derechos Reservados</span>
          <%= image_tag "trust.png" %>

        </div>
        <div class="col-md-2 col-xs-12">
          <h4 class="main-footer__title">Apurata</h4>
          <nav class="main-footer__nav">
            <a href="#">Acerca de Apurata</a>
            <a href="#">Aviso de Privacidad</a>
            <a href="#">Terminos y Condiciones</a>
            <a href="#">Blog</a>
            <a href="#">Prestamos Rapidos</a>
            <a href="#">Prestamos Personales</a>
            <a href="#">Prestamos Independientes</a>
          </nav>
        </div>
        <div class="col-md-2 col-xs-12">
          <h4 class="main-footer__title">Ayuda</h4>
          <nav class="main-footer__nav">
            <a href="#">¿Como Funciona?</a>
            <a href="#">Preguntas Frecuentes</a>
            <a href="#">Contacto</a>
            <a href="#">Libro de reclamaciones</a>
          </nav>
        </div>
        <div class="col-md-2 col-xs-12">
          <h4 class="main-footer__title">Contacto</h4>
          <a class="main-footer__phone" href="#"><i class="fas fa-phone"></i> 965-085-398</a>
          <nav class="main-footer__social">
            <a class="main-footer__social-item" href="#"><i class="fab fa-facebook"></i></a>
            <a class="main-footer__social-item" href="#"><i class="fab fa-twitter"></i></a>
          </nav>
        </div>
      </div>
      <div class="container text-center">
        <p class="main-footer__disclaimer">TCEM:  25%, excluye IGV Interés, Costo total incluyendo IGV, comisiones e interes de S/ 70.35</p>
      </div>
    </footer>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <%= javascript_include_tag  "scroll" %>
    <script type="text/javascript">
      new WOW().init();
    </script>
  </body>
</html>
