---
title: Apuarata | Mejores prestamos
---
<section class="intro">
  <div>
    <div class="container">
      <h2 class="intro__title animated fadeIn">Te prestamos hasta <strong>1,000 Soles</strong>. Pre-aprobación inmediata. Recibe tu dinero en hasta <strong>29 minutos</strong>.</h2>
    </div>
    <div class="quote-box animated fadeIn">

      <div class="quote-box__main row">
        <div class="col-md-6">
          <h4 class="quote-box__label">Escoge el monto (S/100 hasta S/1,000): </h4>
          <br>
          <div id="slider">
            <div id="custom-handle" class="ui-slider-handle"></div>
          </div>
        </div>
        <div class="col-md-2">
          <h4 class="quote-box__label">Escoge número de cuotas:</h4>
          <select class="quote-box__select">
            <option>1 Cuota</option>
          </select>
        </div>
        <div class="col-md-4">
          <a class="button super" href="#">¡Da click y solicita tu prestamo! <i class="fas fa-arrow-right"></i></a>
        </div>
      </div>

      <div class="quote-box__payments row">
        <div class="col-md-4">
          <h4 class="quote-box__label">Cronograma de pagos:</h4>
        </div>
        <div class="col-md-8">
          <article class="quote-box__payment">
            <div>
              <h4 class="quote-box__payment-title">Primer Pago:</h4>
              <span class="quote-box__payment-data">Viernes, 15 de diciembre de 2017</span>
            </div>
            <div>
              <h4 class="quote-box__payment-title">Monto:</h4>
              <span class="quote-box__payment-data">S/ 106.78</span>
            </div>
          </article>
          <article class="quote-box__payment">
            <div>
              <h4 class="quote-box__payment-title">Segundo Pago:</h4>
              <span class="quote-box__payment-data">Viernes, 15 de diciembre de 2017</span>
            </div>
            <div>
              <h4 class="quote-box__payment-title">Monto:</h4>
              <span class="quote-box__payment-data">S/ 106.78</span>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
  <%= image_tag "trust.png", class: "intro__trust" %>
</section>

<section class="steps section">
  <div class="container">
    <h4 class="section__subtitle animated fadeInDown wow">Fácil y rápido</h4>
    <h3 class="section__title animated fadeIn wow" data-wow-delay="0.5s">¿Qué necesitas para solicitar un préstamo Apurata?</h3>

    <div class="steps__container row">
      <div class="steps__item col-md-4 col-xs-12 wow animated fadeIn" data-wow-delay="0.2s">
        <%= image_tag "how-1.png", class: "steps__item-img" %>
        <h5 class="steps__item-title">1. Completar el formulario en linea</h5>
        <p class="steps__item-info">Da click aquí y completa el breve cuestionario con tus datos básicos.</p>
      </div>
      <div class="steps__item col-md-4 col-xs-12 wow animated fadeIn" data-wow-delay="0.6s">
        <%= image_tag "how-2.png", class: "steps__item-img" %>
        <h5 class="steps__item-title">2. Tener tu DNI a la mano</h5>
        <p class="steps__item-info">Necesitamos información de tu DNI vigente para validar tu perfil</p>
      </div>
      <div class="steps__item col-md-4 col-xs-12 wow animated fadeIn" data-wow-delay="1s">
        <%= image_tag "how-3.png", class: "steps__item-img" %>
        <h5 class="steps__item-title">3. Cuenta de banco a tu nombre</h5>
        <p class="steps__item-info">Usamos esta información para depositar tu crédito rápido Apurata.</p>
      </div>
    </div>

    <div class="text-center">
      <span class="helper-text">¿Tienes dudas?</span>
      <a href="#" class="button ghost">Leer Preguntas Frecuentes</a>
    </div>
  </div>
</section>

<section class="why section">
  <div class="container">
    <h3 class="section__title wow animated fadeInDown">¿Porqué utilizar Apurata?</h3>
    <ul class="why__list row">
      <li class="why__item col-md-4 col-xs-12 wow fadeIn animated" data-wow-delay="0.2s"><i class="fas fa-check-square"></i>Credito Rápido y Seguro</li>
      <li class="why__item col-md-4 col-xs-12 wow fadeIn animated" data-wow-delay="0.4s"><i class="fas fa-check-square"></i>Pre-Aprobacion Instantanea de tu Prestamo</li>
      <li class="why__item col-md-4 col-xs-12 wow fadeIn animated" data-wow-delay="0.6s"><i class="fas fa-check-square"></i>Recibes tu dinero en hasta 29 minutos</li>
      <li class="why__item col-md-4 col-xs-12 wow fadeIn animated" data-wow-delay="0.8s"><i class="fas fa-check-square"></i>No pagas nada hasta tu fecha de pago</li>
      <li class="why__item col-md-4 col-xs-12 wow fadeIn animated" data-wow-delay="1s"><i class="fas fa-check-square"></i>Sin dinero adelantado ni pagos antes de recibir tu préstamo</li>
      <li class="why__item col-md-4 col-xs-12 wow fadeIn animated" data-wow-delay="1.2s"><i class="fas fa-check-square"></i>Desde la comodidad de tu casa</li>
    </ul>
  </div>
</section>

<section class="actions">
  <a class="actions__link" href="#">¿Que necesito para solicitar un prestamo?<span>→</span></a>
  <a class="actions__link" href="#">¿Donde recibo mi dinero?<span>→</span></a>
  <a class="actions__link" href="#">¿Cuando son mis fechas de pago?<span>→</span></a>
</section>

<section class="section testimonials">
  <h4 class="section__subtitle wow fadeIn animated">Testimoniales</h4>
  <h3 class="section__title wow fadeIn animated" data-wow-delay="0.5s">¿Quienes recomiendan nuestros prestamos?</h3>

  <div class="container">
    <!-- Aquí van los testimoniales -->
  </div>
</section>

<section class="contact-bar">
  <div class="container">
    <p>¿Tienes Dudas? ¡Nosotros te ayudamos!</p>
    <a class="button contact messenger" href="#"><i class="fab fa-facebook-messenger"></i> Messenger</a>
    <a class="button contact whatsapp" href="#"><i class="fab fa-whatsapp"></i> Whatsapp</a>
  </div>
</section>

<section class="how section">
  <div class="container">
    <h4 class="section__subtitle wow fadeIn animated">ASÍ FUNCIONA</h4>
    <h3 class="section__title wow fadeIn animated" data-wow-delay="0.2s">¿Cómo funcionan los préstamos inmediatos con Apurata?</h3>
    <div class="how__items">
      <div class="row">
        <div class="how__item col-md-6 col-xs-12 wow fadeIn animated" data-wow-delay="0.2s">
          <%= image_tag "faq-1.svg", class: "how__item-img" %>
          <span class="how__item-subtitle">Primer Paso</span>
          <h3 class="how__item-title">Cuánto dinero necesitas.</h3>
          <p class="how__item-text">Con los préstamos sin aval de Apurata puede realizar todos los trámites desde tu dispositivo movil o computadora sin tener que ir a una agencia o perder tiempo en colas. Usando la barra dinámica selecciona exactamente cuánto dinero necesitas y por cuánto tiempo. Ahí mismo sabrás cuánto tendrás que pagar.</p>
        </div>
        <div class="how__item col-md-6 col-xs-12 wow fadeIn animated" data-wow-delay="0.4s">
          <%= image_tag "faq-2.svg", class: "how__item-img" %>
          <span class="how__item-subtitle">Segundo Paso</span>
          <h3 class="how__item-title">Cuentanos sobre ti.</h3>
          <p class="how__item-text">Llena correctamente nuestro breve formulario con información personal, redes sociales, cuentas de banco, etc. Mientras más información nos proporcionas, tendrás acceso a mejores préstamos. Toda la información que compartes está encriptada para tu seguridad y es verificada en nuestro sistema automaticamente.</p>
        </div>
      </div>

      <div class="row">
        <div class="how__item col-md-6 col-xs-12 wow fadeIn animated" data-wow-delay="0.6s">
          <%= image_tag "faq-3.svg", class: "how__item-img" %>
          <span class="how__item-subtitle">Tercer Paso</span>
          <h3 class="how__item-title">Obtén préstamos personales.</h3>
          <p class="how__item-text">Respondemos a tu solicitud de préstamo inmediatamente, y en caso de ser aprobado, ¡recibes tu crédito personal en tu cuenta de banco en hasta 29 minutos!</p>
        </div>
        <div class="how__item col-md-6 col-xs-12 wow fadeIn animated" data-wow-delay="0.8s">
          <%= image_tag "faq-4.svg", class: "how__item-img" %>
          <span class="how__item-subtitle">Cuarto Paso</span>
          <h3 class="how__item-title">Paga tu crédito personal.</h3>
          <p class="how__item-text">Puedes pagar tu préstamo personal en cualquier agente o agencia del BCP - Banco de Credito, BBVA Continental o Interbank. También puedes hacer una transferencia interbancaria o por internet.<br> Haz click aqui para ver la lista de establecimientos donde puedes pagar tu prestamo</p>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="banks section">
  <div class="container">
    <h3 class="banks__title wow animated fadeInDown">Bancos donde recibes tu Préstamo en hasta <strong>29 minutos</strong></h3>

    <div class="banks__container">
      <div class="banks__item fadeIn wow animated">
        <%= image_tag "bank-1.png" %>
      </div>
      <div class="banks__item fadeIn wow animated" data-wow-delay="0.2s">
        <%= image_tag "bank-2.png" %>
      </div>
      <div class="banks__item fadeIn wow animated" data-wow-delay="0.4s">
        <%= image_tag "bank-3.png" %>
      </div>
      <div class="banks__item fadeIn wow animated" data-wow-delay="0.6s">
        <%= image_tag "bank-4.png" %>
      </div>
    </div>
  </div>
</section>

<section class="alliance section text-center">
  <div class="container">
    <h4 class="section__subtitle wow fadeIn animated">Empresa Confiable</h4>
    <h3 class="section__title wow fadeIn animated" data-wow-delay="0.2s">Asociados Crediticios</h3>
    <br>
    <%= image_tag "alliance.png", class: "fadeIn animated wow" %>
  </div>
</section>

<section class="faqs section">
  <div class="container">
    <h4 class="section__subtitle">PREGUNTAS FRECUENTES</h4>
    <h3 class="section__title">Ayuda Rápida</h3>

    <div class="row faqs__container">
      <div class="col-md-4 col-xs-12">

        <article class="faqs__item">
          <h4 class="faqs__item-title">¿Cómo Funcionan los préstamos inmediatos con Apurata?</h4>
          <div class="faqs__item-text">
            <p>Monto: Solicita un préstamo desde S/ 100 a S/ 1,000 si eres un nuevo cliente. Si eres un cliente habitual inicia sesion para acceder a mejores condiciones.</p>

            <p><strong>Plazo:</strong> lo puedes pagar desde 1 cuota hasta 3 cuotas, cada 15 y 30 de cada mes.</p>
          </div>
        </article>

        <article class="faqs__item">
          <h4 class="faqs__item-title">¿Préstamo Inmediato?</h4>
          <div class="faqs__item-text">
            <p>Apurata es inmediato. Aprovabamos o denegamos tu credito personal inmediatamente, sin esperas.</p>
          </div>
        </article>

        <article class="faqs__item">
          <h4 class="faqs__item-title">¿Qué hago para obtener mi préstamo?</h4>
          <div class="faqs__item-text">
            <ul>
              <li>Selecciona el monto y plazo con las barras.</li>
              <li>Observa el total a pagar y la fecha de pago</li>
              <li>Da click en el botón azul para llenar tu solicitud de préstamo en línea.</li>
              <li>No importa en donde estés, la solicitud siempre se llena a través de nuestra página. Hazlo tu mismo</li>
              <li>Llena tu solicitud.</li>
            </ul>
          </div>
        </article>

      </div>

      <div class="col-md-4 col-xs-12">

        <article class="faqs__item">
          <h4 class="faqs__item-title">¿En cuántos pagos?</h4>
          <div class="faqs__item-text">
            <p>Pagas tu prestamo desde una sola y simple cuota hasta 3 cuotas con vencimientos quincenales.</p>
          </div>
        </article>

        <article class="faqs__item">
          <h4 class="faqs__item-title">¿Dónde pago mi préstamo?</h4>
          <div class="faqs__item-text">
            <p>Puedes pagar tu credito en un agente, en ventanilla de un banco, o por transferencia via web; nosotros te damos nuestra cuenta de banco a nombre de Tecno Creditos SAC.</p>
          </div>
        </article>

        <article class="faqs__item">
          <h4 class="faqs__item-title">¿Qué necesito para obtener mi préstamo?</h4>
          <div class="faqs__item-text">
            <ul>
              <li>Número de teléfono móvil</li>
              <li>Correo electrónico propio</li>
              <li>DNI</li>
              <li>Cuenta de banco a tu nombre (Nombre de banco y numero de cuenta)</li>
            </ul>
          </div>
        </article>

      </div>

      <div class="col-md-4 col-xs-12">

        <article class="faqs__item">
          <h4 class="faqs__item-title">¿Cuándo pago mi préstamo?</h4>
          <div class="faqs__item-text">
            <p>Págalo el día que vence la cuota que elegiste. Siempre puedes pagar antes y ahorrar.</p>
          </div>
        </article>

        <article class="faqs__item">
          <h4 class="faqs__item-title">¿Apurata es seguro?</h4>
          <div class="faqs__item-te>xt">
            <p>Sí, 100% seguro. Usamos información encriptada con un nivel de seguridad muy alto.</p>
          </div>
        </article>

      </div>
    </div>
  </div>
</section>